# .gitignore

**/node_modules/
**/.cache
**/.DS_store
**/*.lock
**/*.config
**/*.log

**/f_farcel_test

**/env/bin
**/env/lib
**/env/include
**/env/settings.py
q_django/env/jestagram/jestagram/settings.py
